services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
      args:
        INSTALL_HEAVY: "0"
        USE_WHEELS: "0"
    container_name: backend
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-8lp#nbik+r+fn(+qtwd$7@4^oda7f@3+3o*!tdw5fn_uq03n*=
      - ALLOWED_HOSTS=*
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB_NAME=producthub
      - MONGO_USER=
      - MONGO_PASSWORD=
      - JWT_SECRET=super-secret
      - JWT_LIFE_DAYS=7
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data:
